body{
  background-color: #eaf6f6;


}
hr{

  border-style: none;
  height: 0;
  width: 10%;
  border-top-style: dotted;
  border-top-color: red;
  border-width:  5px;
}
h1{
color: #24aa2ed1;
  }
h3{
  color: #6fbfbf;
    }
